vsd2/Release/Exe/
vsd2/Release/Obj/
vsd2/bin/mk_symbol_lib.bat
vsd2/exec_sram/
vsd2/lib_rom.dep
vsd2/lib_rom.ewt
vsd2/lib_rom/
vsd2/library/src/lib_rom.dep
vsd2/library/src/vsd2.dep
vsd2/library/src/vsd2_sram.dep
vsd2/settings/
vsd2/src/cortexm3_macro.s_
vsd2/src/lib_rom.dep
vsd2/src/vsd2.dep
vsd2/src/vsd2_sram.dep
vsd2/vsd2.dep
vsd2/vsd2.ewt
vsd2/vsd2_sram.dep
vsd2/vsd2_sram.ewt
vsd_filter/.vs/
vsd_filter/Debug/
vsd_filter/Release/
vsd_filter/ReleaseMT/
vsd_filter/ScriptIF.h
vsd_filter/do.bat
vsd_filter/ipch/
vsd_filter/make/Debug/
vsd_filter/make/Release/
vsd_filter/rev_num.h
vsd_filter/v8_lib/
vsd_filter/vsd_filter.VC.db
vsd_filter/vsd_filter.sdf
vsd_filter/vsd_filter/ReleaseMT/
vsdroid/.gradle/
vsdroid/.idea/compiler.xml
vsdroid/.idea/copyright/
vsdroid/.idea/encodings.xml
vsdroid/.idea/libraries/
vsdroid/.idea/misc.xml
vsdroid/.idea/modules.xml
vsdroid/.idea/vcs.xml
vsdroid/.idea/workspace.xml
vsdroid/build/
vsdroid/local.properties
vsdroid/vsdroid/build/
vsdroid/vsdroid/vsdroid-vsdroid.iml
